* {
    font-family: 'Alef', sans-serif;
    margin: 0;
}

.container {
    background-color: blueviolet;
    color: #fff;
    padding: 20px 0;
}

.class-one {
    background-color: black;
}

.class-two {
    background-color: darkblue;
}

.class-three {
    background-color: darkred;
}

.class-four {
    background-color: darkslateblue;
}

.container h2 {
    margin: 0;
    margin-bottom: 20px;
}

.container h2, p {
    text-align: center;
}